<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Covid19 Public Health Facility</title>

    <!-- Bootstrap CSS file -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-2.2.3.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.2.3.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-tables-2.2.3.min.css"/>
</head>
<body>
<div class="container-xl">
    <center>
        <div class="jumbotron">
            <h1>COVID-19 Visualization System</h1>
            <hr>
            <a href="http://127.0.0.1:8000/covid19/query.html" class="btn btn-info" role="button">Home</a>
            <a href="http://127.0.0.1:8000/covid19/about.html" class="btn btn-info" role="button">About</a>
            <a href="http://127.0.0.1:8000/covid19/covid19_map.html" class="btn btn-info" role="button">COVID 19
                Statistics Mapping</a>
            <a href="http://127.0.0.1:8000/covid19/covid19_public_health_authority_response.html" class="btn btn-info"
               role="button">Public Health Authority Response</a>
            <a href="http://127.0.0.1:8000/covid19/covid19_socioeconomic_factor.html" class="btn btn-info"
               role="button">Socioeconomic Factor</a>
            <a href="http://127.0.0.1:8000/covid19/covid19_public_health_statistics.html" class="btn btn-info"
               role="button">Public Health Statistics</a>
            <br>
            <br>
            <a href="http://127.0.0.1:8000/covid19/covid19_public_health_facility.html" class="btn btn-info"
               role="button">Public Health Facility </a>

        </div>
        <h1>Please Use the selector to understand hospital beds per thousand and COVID 19 impact</h1>
        <form name="filter" action="{% url 'covid19_hospital_beds' %}" method="get">
            <select id="Location" name="Location">
                <option disabled="true" selected>Select a continent</option>
                <option value="Asia">Asia</option>
                <option value="North America">North America</option>
                <option value="South America">South America</option>
                <option value="Oceania">Oceania</option>
                <option value="Africa">Africa</option>
                <option value="Europe">European Union</option>
            </select>
            <label for="start_date">Start Date(at least from 2020-01-01):</label>
            <input type="date" id="start_date" name="start_date" value="2020-01-01"
                   min="2020-01-01" max="2021-3-15">


            <br><br>
            <input type="submit" value="Submit Query"/>
        </form>
        <hr>
        <table border="1">
            <tr>
                <td>Continent</td>
                <td>Country</td>
                <td>Hospital Beds per Thousand</td>

            </tr>
            {% for query_result_table in Covid19 %}
            <tr>
                <td>{{query_result_table.continent}}</td>
                <td>{{query_result_table.location}}</td>
                <td>{{query_result_table.hospital_beds_per_thousand}}</td>
            </tr>
            {% endfor %}
        </table>

        {{div_bed_case | safe}}
        <br>
        {{div_bed_death | safe}}
        <br>
        {{div_bed_icu | safe}}
        <br>
        {{div_bed_hos | safe}}
        <br>


    </center>
    <!-- JS files: jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</div>
</body>
<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-2.2.3.min.js"></script>
<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.2.3.min.js"></script>
<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-tables-2.2.3.min.js"></script>
<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-api-2.2.3.min.js"></script>
{{script_bed_case | safe}}
{{script_bed_death | safe}}
{{script_bed_icu | safe}}
{{script_bed_hos | safe}}

</html>